html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 5px;
}
.map {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.filter-location-top {
  width: 100%;
}
.filter-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25%;
  z-index: 1;
  max-width: 100%;
  max-height: 100vh;
  background-color: #4c4848;
  color: #bdbaba;
}
.search-locations {
  padding: 10px 0px 10px 15px;
  background-image: url('./icons/filter.svg');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 1em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 0.2em solid #b55858;
  width: 85%;
}
.search-locations:focus {
  background-image: url('./icons/filter-afterInteraction.svg');
}
.marker-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.marker-list-item {
  padding: 5px 0px 5px 15px;
  display: flex;
  font-size: 0.8em;
  border-radius: 0.5em;
  border: 0.1em solid;
}
.marker-details {
  text-align: left;
  padding: 0;
  margin: 0;
  display: inline;
}
.search-locations-input-wrapper {
  width:100%;
  padding: 0.5px;
  display: flex;
}
.close-search {
  width: 25px;
  height: 40px;
  width: 24%;
  background-position: right;
  background-image: url('./icons/cancel.svg');
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 0;
  cursor: pointer;
  border-radius: 0.5em;
  border: 0.2em solid #b55858;
}
.InfoWindow-container{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 25%;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}
.marker-details:hover{
  cursor: pointer;
  background-color: #a1ab9e;
  color: #4a4848
}
.hamburger-icon {
  width: 25px;
  height: 40px;
  background-position: right;
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 0;
  cursor: pointer;
}
.return-hamburger,.hamburger-icon,.close-search {
  width: 25px;
  height: 40px;
  background-position: right;
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 25px;
  font-size: 0;
  cursor: pointer;
}
.return-hamburger {
  background-image: url('./icons/arrow-back.svg');
  border-radius: 0.5em;
  border: 0.2em solid #b55858;
}
.hamburger-icon {
  background-image: url('./icons/hamburger.svg');
}
.close-search {
  width: 24%;
  background-image: url('./icons/cancel.svg');
  border-radius: 0.5em;
  background-size: 20px;
  border: 0.2em solid #b55858;
}
.hamburger-icon:hover, .return-hamburger:hover, .close-search:hover {
  background-color: #8bbeec;
}
@media only screen and (max-width : 1025px) {
  .hamburger-icon-wrapper {
  	display:none;
  }
  .return-hamburger {
    display:none;
  }
}
@media only screen and (max-width : 720px) {
  .search-locations {
    font-size: 0.9em
  }
}
@media only screen and (max-width : 670px) {
  .search-locations {
    font-size: 0.85em
  }
}
@media only screen and (max-width : 551px) {
  .search-locations {
    font-size: 0.7em
  }
}
@media only screen and (max-width : 550px) {
  .hamburger-icon-wrapper {
  	display:block;
  }
  .return-hamburger {
    display:block;
  }
  .search-locations {
    font-size: 1em
  }
  .filter-container {
    width: 60%
  }
  .marker-list-item {
    font-size: 0.95em;
  }
}
